<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre mim
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="Ingrid_Braga" src="assets/image/ingrid.jpeg" />
      <ion-card-header>
        <ion-card-title>Ingrid Braga</ion-card-title>
        <ion-card-subtitle>Turma: ADS0304N<br> Matrícula: 23100128</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
